<?xml version="1.0" encoding="UTF-8"?>
<model>
    <name>stickBot</name>
    <version>1.0</version>
    <sdf version='1.7'>model.urdf</sdf>
    <author>
        <name>German Rodriguez</name>
        <email>german.rodriguez@iit.it</email>
    </author>
    <author>
        <name>Alexandre Antunes</name>
        <email>alexandre.gomespereira@iit.it</email>
    </author>
    <description>Robot model based on iCub3 made with geometrical shapes, for ergocub studies</description>
</model>
